<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name="ManufacturingDB"
			 connectionString="Server=localhost\SQLEXPRESS;Database=ManufacturingDB;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>

	</connectionStrings>

</configuration>